---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  padding-top: 70px;  /* required for navbar-fixed-top */
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
body,.tooltip,.popover {
  font-family:  /* Japanese font */
    "Open Sans",
    "Helvetica Neue", Helvetica,
    "Arial",
    "メイリオ", Meiryo,
    "游ゴシック", YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    sans-serif;
}

.ginga-store-front {
  background-image: url("{{ site.baseurl }}/images/ginga-store-front.jpg");
  background-size: cover;
  background-position: 35% 5%;
  height: 33vh;
  transition: height 1s;
}

.ginga-footbar {
  position: relative;
  min-height: 20px;
  border: 1px solid transparent;
  margin-top: 20px;
}
