---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  padding-top: 70px;  /* required for navbar-fixed-top */
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
body,.tooltip,.popover {
  font-family:  /* Japanese font */
    "Open Sans",
    "Helvetica Neue", Helvetica,
    "Arial",
    "メイリオ", Meiryo,
    "游ゴシック", YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    sans-serif;
}

.ginga-3d-text {
  color: #fafafa;
  text-shadow: 0px 1px 0px #999,
	 0px 2px 0px #888,
	 0px 3px 0px #777,
	 0px 4px 0px #666,
	 0px 5px 0px #555,
	 0px 6px 0px #444,
	 0px 7px 0px #333,
	 0px 8px 7px #001135
}

.ginga-store-front {
  background-image: url("{{ site.baseurl }}/images/ginga-store-front.jpg");
  background-size: cover;
  background-position: 35% 5%;
}

.ginga-footbar {
  position: relative;
  min-height: 20px;
  border: 1px solid transparent;
  margin-top: 20px;
}
