---
layout: default
title: GINGA Wireless - 携帯電話・本・コンピュータのことなら

phone_us:
  title: 携帯電話・アメリカで使う
  image: /images/seattle_image-compressor.svg
  list:
    - 「電話をたくさん使いたい」
    - 「ネットを中心に使う」
    - 「利用料金を安くしたい」
    - 「短期間だけ必要」
  path: /cell-phone/
  button: そんな方には &raquo;
  indent: "        "
  class: panel-info

phone_jp:
  title: 携帯電話・日本で使う
  image: /images/japan-compressor.svg
  list:
    - 「日本の電話番号を持ちたい」
    - 「日本でネットを使いたい」
    - 「利用料金を安くしたい」
    - 「面倒なことはイヤ」
  path: /cell-phone/
  button: そんな方には &raquo;
  indent: "        "
  class: panel-info

pc_problem:
  title: スマホ・コンピュータの悩み
  image: /images/smartphone_pc-compressor.svg
  list:
    - 「思いどおりに、動かない」
    - 「最近、どうも調子が悪い」
    - 「ウィルスが心配」
    - 「どれを買えばいいの？」
  path: /computer/
  button: そんな方には &raquo;
  indent: "        "
  class: panel-info

book_sell:
  title: 本／CD／DVDを売りたい
  list:
    - 「どんなものが売れる？」
    - 「いくらで買ってくれる？」
    - 「いらないものを引き取る？」
    - 「出張してくれる？」
  path: /books/
  button: そんな疑問へは &raquo;
  indent: "        "
  class: panel-info

phone_h2o:
  title: H2O by KDDI Mobile
  list:
    - 米国内、人気のAT&amp;Tネットワーク<small>（Partnerエリアを除く）</small>
    - 日本の固定電話へ通話無制限
    - 月額$30～でLTE対応
    - iPhone・Androidスマホ対応
  path: /cell-phone/
  button: 詳細を確認する &raquo;
  indent: "        "
  class: panel-primary

phone_gs:
  title: GoSmart Mobile (T-Mobile)
  list:
    - 米国T-Mobile社によるサービス<small>（Partnerエリアを除く）</small>
    - <small>毎月</small>最大20GBの高速データ
    - 月額$30～でテザリング対応
    - iPhone・Androidスマホ対応
  path: /cell-phone/
  button: 詳細を確認する &raquo;
  indent: "        "
  class: panel-primary

phone_jsim:
  title: HanaCell ジャパンSIMカード
  list:
    - 日本への一時帰国者向け
    - 日本でも使い慣れた端末を
    - ご自身の携帯番号<small>（維持費 年$8）</small>
    - 通話発信、SMS送信、使った分だけ自動引落
  path: /cell-phone/
  button: 詳細を確認する &raquo;
  indent: "        "
  class: panel-primary

phone_sony:
  title: Sony Xperia シリーズ
  list:
    - 安心のAndroidスマートフォン
    - SIMロックなし(Unlocked)
    - 高性能で、快適な動作
    - 日本語メニュー、日本語文字入力、日本語音声認識 全対応
  path: /cell-phone/
  button: 詳細を確認する &raquo;
  indent: "        "
  class: panel-primary
---
<main>
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h2>
            <a href="{{ site.baseurl }}/">
              <img class="img-responsive" src="{{ site.baseurl }}/images/ginga-wireless-logo.svg" alt="GINGA Wireless">
            </a>
          </h2>
          <p>{{ site.description }}</p>
          <p>
            <a href="{{ site.baseurl }}/cell-phone/" class="btn btn-default btn-lg" role="button">携帯電話</a>
            <a href="{{ site.baseurl }}/books/"      class="btn btn-default btn-lg" role="button">本・CD・DVD</a>
            <a href="{{ site.baseurl }}/computer/"   class="btn btn-default btn-lg" role="button">コンピュータ</a>
          </p>
        </div>
        <div class="col-md-6">
          <div class="ginga-store-front">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <article class="col-sm-6 col-lg-3">
{% include panel-at-top.html p=page.phone_us
%}      </article>
      <article class="col-sm-6 col-lg-3">
{% include panel-at-top.html p=page.phone_jp
%}      </article>
      <article class="col-sm-6 col-lg-3">
{% include panel-at-top.html p=page.pc_problem
%}      </article>
      <article class="col-sm-6 col-lg-3">
{% include panel-at-top.html p=page.book_sell
%}      </article>
    </div>
    <div class="row">
      <article class="col-sm-6 col-lg-3">
{% include panel-at-top.html p=page.phone_h2o
%}      </article>
      <article class="col-sm-6 col-lg-3">
{% include panel-at-top.html p=page.phone_gs
%}      </article>
      <article class="col-sm-6 col-lg-3">
{% include panel-at-top.html p=page.phone_jsim
%}      </article>
      <article class="col-sm-6 col-lg-3">
{% include panel-at-top.html p=page.phone_sony
%}      </article>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <small><span style="font-size: 80%;">サイト素材提供 - <a href="http://sozai-good.com/" target="_blank">無料イラスト(可愛い おしゃれ)フリー素材集なら【素材Good】</a> - 他</span></small>
      </div>  
    </div>  
  </div>
</main>
