<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="{{ site.baseurl }}/">
          <img class="img-responsive" src="{{ site.baseurl }}/images/ginga-wireless-logo.svg" alt="GINGA Wireless">
        </a>
        <small>携帯電話・本・コンピュータのことなら</small>
      </div>
      <div class="col-lg-9">
        <ul class="nav nav-pills">
        {%  assign sorted_pages = site.pages | sort: 'nav_order'
      %}{%  for my_page in sorted_pages
      %}{%    if my_page.nav_title
      %}{%      if page.url == my_page.url
      %}  <li class="active"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.nav_title }}</a></li>
        {%      else
      %}  <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.nav_title }}</a></li>
        {%      endif
      %}{%    endif
      %}{%  endfor
      %}</ul>
        <small>Copyright &copy; 2022 GINGA Wireless. All Rights Reserved.</small>
      </div>
    </div>
  </div>
  <div class="ginga-footbar navbar-default"></div>
</footer>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/js/ginga.js"></script>
