{{ include.indent }}<div class="panel {{ include.class }}">
{{ include.indent }}  <div class="panel-heading">
{{ include.indent }}    <h3 class="panel-title">{{ include.title }}</h3>
{{ include.indent }}  </div>
{{ include.indent }}  <ul class="list-group">
{{ include.indent }}  {% for list_item in include.list
{{ include.indent }}%}  <li class="list-group-item">{{ list_item }}</li>
{{ include.indent }}  {% endfor
{{ include.indent }}%}</ul>
{{ include.indent }}  <div class="panel-footer">
{{ include.indent }}    <a class="btn btn-default" href="{{ include.href }}" role="button">{{ include.button }}</a>
{{ include.indent }}  </div>
{{ include.indent }}</div>

