{{ include.p.indent }}<div class="panel {{ include.p.class }}">
{{ include.p.indent }}  <div class="panel-heading">
{{ include.p.indent }}    <h3 class="panel-title">{{ include.p.title }}</h3>
{{ include.p.indent }}  </div>
{{ include.p.indent }}  {% if include.p.image
{{ include.p.indent }}%}<img src="{{ site.baseurl }}{{ include.p.image }}" class="img-responsive center-block" alt="" style="max-height: 250px;;" />
{{ include.p.indent }}  {% endif
{{ include.p.indent }}%}<ul class="list-group">
{{ include.p.indent }}  {% for list_item in include.p.list
{{ include.p.indent }}%}  <li class="list-group-item">{{ list_item }}</li>
{{ include.p.indent }}  {% endfor
{{ include.p.indent }}%}</ul>
{{ include.p.indent }}{% if include.p.path
{{ include.p.indent }}%}  <div class="panel-footer">
{{ include.p.indent }}    <a class="btn btn-default" href="{{ site.baseurl }}{{ include.p.path }}" role="button">{{ include.p.button }}</a>
{{ include.p.indent }}  </div>
{{ include.p.indent }}%}</div>
